:root {
    --main-color: #d3995f;
    --second-color: #292929;
}


/* Start Landing-page */

div.landing-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

div.landing-page div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.landing-page div.container div {
    width: 50%;
}

div.landing-page div.container div.left {}

div.landing-page div.container div.left h1 {
    font-size: 50px;
    line-height: 1.8;
    color: var(--main-color);
}

div.landing-page div.container div.left p {
    line-height: 1.8;
}

div.landing-page div.container div.left button {
    display: block;
    padding: 15px 20px;
    background-color: transparent;
    font-size: 18px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    margin: 30px 0;
    transition: 0.6s;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

div.landing-page div.container div.left button:hover {
    color: #fff;
    border-color: #fff;
}

div.landing-page div.container div.left button a {
    text-decoration: none;
    color: #000;
    transition: 0.6s;
}

div.landing-page div.container div.left button:hover a {
    color: #fff;
}

div.landing-page div.container div.left button::before {
    content: '';
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: -1px;
    top: 0;
    left: -100%;
    transition: 0.6s;
    z-index: -1;
}

div.landing-page div.container div.left button:hover::before {
    left: 0;
}

div.landing-page div.container div.left button::after {
    content: '';
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    right: -1px;
    top: 0;
    right: -100%;
    transition: 0.6s;
    z-index: -1;
}

div.landing-page div.container div.left button:hover::after {
    right: 0;
}

div.right {
    width: 40% !important;
    overflow: hidden;
    height: 450px;
    border-radius: 15px;
    background-color: #eee;
}

div.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

@media (max-width: 767px) {
    div.landing-page {
        position: static;
        left: 50%;
        padding: 120px 0;
        top: 50%;
        margin: 50px 0px;
        transform: translate(0, 0);
    }
    div.landing-page h1 {
        font-size: 30px !important;
    }
    div.landing-page div.left p {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    div.left {
        width: 100% !important;
        text-align: center;
    }
    div.right {
        display: none;
    }
    div.landing-page div.container div.left p {
        line-height: 2;
    }
    div.landing-page div.container div.left button {
        margin: 30px auto;
    }
}


/* End Landing-page */